<div class="container">
  <div class="grid">
    <div class="col-12">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          type="text"
          pInputText
          [(ngModel)]="searchValue"
          (change)="handleSearchChange()"
        />
      </span>
    </div>
  </div>
  <ng-container *ngIf="showsList$ | async as showslist">
    <div class="grid show-list-container">
      <ng-container *ngFor="let show of showslist.results">
        <app-show-item
          [showItem]="show"
          [showType]="showType"
          class="show-item col-6 md:col-3"
        />
      </ng-container>
    </div>

    <p-paginator
      [rows]="20"
      [first]="first"
      (onPageChange)="handlePageChange($event)"
      [totalRecords]="showslist.total_results"
    ></p-paginator>
  </ng-container>
</div>
