@media screen and (min-width: 1260px) {
  .show-item {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 20%;
  }

  .show-list-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
